.display{
    text-align: end;
    color: greenyellow;
    height: 50px;
}

.calculator{
    margin: 25px auto auto auto;
}

.container-fluid{
    max-width: 400px;
}

.instructions{
    max-width: 400px;
    text-align: left;
}

.icontainer{
    padding: 3% 0% 0% 2%;
}

.row{
    padding: 0%;
}